body{
  margin:20px;
  background-color: #615430;
}
.container{

}
.title{
 font-family: 'Playfair Display', serif;
 font-size: 20pt;
 text-align: center;
}
.links{
font-family: 'Playfair Display', serif;
font-size: 20pt;
text-align: center;
}
