body{
 margin: 20px;
 background-color: #0b72da;
}

.title{
  position: sticky;
  background-color: #3f84bb;
  padding-left: 5px;
}
.line1{
  background-color: #0280b7;
}
.line2{
  background-color: #0280b7;
}
.line3{
  background-color: #0280b7;
}
.line4{
  background-color: #0280b7;
}
.line5{
  background-color: #0280b7;
}
.line6{
  background-color: #0280b7;
}
.line7{
background-color: #0280b7;
}
.line8{
  background-color: #0280b7;
}
.line9{
  background-color: #0280b7;
}
.line10{
  background-color: #0280b7;
}
.line11{
  background-color: #0280b7;
}
.line12{
  background-color: #0280b7;
}
.line13{
  background-color: #0280b7;
}
.line14{
  background-color: #0280b7;
}
.line15{
  background-color: #0280b7;
}
.line16{
  background-color: #00336f;
}
.line17{
  background-color: #00336f;
}
