body{
  margin:15px;
}

.container{

}
.title{

}
.stanza1{
  background-color: #615430;
  position: relative;
  width: 200px;
  padding: 7px;
  padding-left: 5px;
}
.stanza2{
  background-color: #615430;

  width: 200px;
  padding: 7px;
  padding-left: 5px;
}
.stanza3{
  background-color: #615430;

  width: 200px;
  padding: 7px;
  padding-left: 5px;
}
.stanza4{
  background-color: #615430;

  width: 200px;
  padding: 7px;
  padding-left: 5px;
}
